.modalWrapper {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.modalContent {
  position: absolute;
  background: url('../../assets/tile-modal-background.png');
  background-size: contain;
  display: flex;
  padding: 2em;
}
