@import '../../responsive';

.nav {
  height: 4rem;
  background: hsl(var(--brand-100));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .hamburger {
    display: block;
  }

  @include desktop {
    padding: 0 2rem;

    .hamburger {
      display: none;
    }
  }

  .logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    img {
      height: 2.5rem;
      width: auto;
    }
  }

  .profile {
    background: hsl(var(--brand));
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    color: hsl(var(--brand-100));
  }
}

.menu {
  display: none;

  @include desktop {
    display: block;
  }
}
