nav {
  height: 4rem;
  background: hsl(var(--brand-100));
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;

  .hamburger {
    display: block;
  }

  @media (min-width: 768px) {
    padding: 0 2rem;

    .hamburger {
      display: none;
    }
  }

  .logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .profile {
    background: hsl(var(--brand));
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    color: hsl(var(--brand-100));
  }

  > .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    pointer-events: none;

    .backdrop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      transition: opacity 0.3s;
    }

    .menu-content {
      position: absolute;
      min-width: 10rem;
      max-width: 80%;
      height: 100%;
      z-index: 12;
      transition: transform 0.3s;
    }
  }
}
